.nes-mario {
    float: left;
    margin: 40 0 0 0;
}

.nes-kirby {
    float: right;
    margin: 40 0 0 0;
}

.nes-balloon {
    display: block;
    text-align: center;
    align-items: center;
}

.fit {
    width: 100%;
    display: inline-block;
}

.spacing {
    margin: 2%;
}

.site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

body {
    max-width: 760px;
}

a:hover {
    text-decoration: none;
}