.nes-mario {
    float: left;
    margin: 40 0 0 0;
}

.nes-kirby {
    float: right;
    margin: 40 0 0 0;
}

.nes-balloon {
    display: block;
    text-align: center;
    align-items: center;
}

.fit {
    width: 100%;
    display: inline-block;
}

.spacing {
    margin: 2%;
}

.site {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nes-container {
    max-width: 760px;
}

.nes-container.is-rounded {
    margin: 5% !important;
}

body {
    font-size: calc(1vw + 1vh);
}

a:hover {
    text-decoration: none;
}

.nes-badge {
    width: auto;
    height: auto;
    display: inline-block;
}

.nes-badge span.is-primary:first-child,
.nes-badge span.is-success:first-child,
.nes-badge span.is-warning:first-child {
    position: static;
    display: inline-block;
    width: 150;
    margin: 5;
}